<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Shop</title>
</head>

<body class="flex flex-col w-[50%] mx-auto justify-center h-full">
    <header class="py-6">
        <nav>
            <ul>
                <li class="space-x-6">
                    <a href="/" class="text-green-300">Shop</a>
                    <a href="/add-product">Add Product</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="space-y-6 shadow-lg shadow-gray-200 ">
        <h1> My Products</h1>
        <p>
            List of all products...
        </p>

    </main>

</body>

</html>